Source: handlepdf
Section: utils
Priority: optional
Maintainer: Nicola Ferralis <feranick@hotmail.com>
DM-Upload-Allowed: yes
Build-Depends: debhelper (>= 7), quilt
Standards-Version: 3.8.4


Package: handlepdf
Architecture: all
Depends: ghostscript, pdftk, graphicsmagick
Description: Handle pdf (merge, extract, optimize, reduce size, convert into and from images, convert to grayscale, add password, encrypt).
 Easy command line frontend for ghostscript and pdftk.
